.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 63/var(--tw-bg-opacity));
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(31 31 31/var(--tw-bg-opacity));
}


.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(244 63 94/var(--tw-bg-opacity));
}

.bg-deep-black {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26/var(--tw-bg-opacity));
}

.bg-deep-gray {
  background-color: rgba(63,63,63,.4);
}

.bg-orange {
  background-color: #ff9601 !important;
}