.dark-mode body {
  background-color: #000000;
  color: #fff;
}

.dark-mode .chapter a {
  color: #fff;
}

.chapter a {
  font-size: 13px;
  color: #000;
}

.dark-mode .dark-box, .dark-mode .dark-box a {
  color: #fff;
}

.dark-box a {
  color: #000;
}

.dark-mode .chapter .time {
  color: #999;
}

.light-mode .chapter .time {
  color: #999;
}

.dark-mode .chapter .time, .view {
  color: #999;
}

.light-mode .chapter .time, .view {
  color: #999;
}

.light-mode #item-detail .detail-info ul.list-info li p, #item-detail .detail-info h2 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  text-transform: inherit;
  color: #777676;
}

.light-mode .deslide-cover:after {
  //background: linear-gradient(90deg,#020024 30%,#4646d5 77%,#00d4ff);
  background: linear-gradient(0deg, #010101, rgba(64, 54, 103, .1) 70%, #a40000);
  transition: all;
  z-index: 2;
}

.dark-mode a, .dark-mode .page-title, .dark-mode .breadcrumb, .dark-mode .breadcrumb a, .dark-mode .user-page .link {
  color: #ff9601;
}

.items .item figcaption h3 a {
  color: #000;
}

.dark-mode .items .item figcaption h3 a {
  color: #fff;
}

.dark-mode #header {
  //background-image: url(~/assets/images/bg_header.jpeg);
  width: 100%;
  height: 50px;
  transition: top .3s ease-in-out;
}

.light-mode #header {
  background-image: url('~/assets/images/bg_header.jpeg');
}

.dark-mode .breadcrumb, .dark-mode .breadcrumb a.active {
  color: #fff;
}

.dark-mode #item-detail .list-title {
  color: #ff7043;
  border-bottom-color: #ff7043;
}

.dark-mode #item-detail .detail-content p.shortened:before, .dark-mode #item-detail .list-chapter .view-more:before {
  background: linear-gradient(rgba(255, 255, 255, 0), #484848);
}

.dark-mode .morelink, .view-more {
  color: #fff;
}

#item-detail .detail-content p.shortened:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.dark-mode #item-detail .list-chapter .view-more {
  border-color: transparent;
}

.dark-mode #item-detail .detail-content p.shortened:before, .dark-mode #item-detail .list-chapter .view-more:before {
  background: linear-gradient(rgba(255, 255, 255, 0), #484848);
}

.dark-mode .view-more {
  background: #000000;
}

.dark-mode .main-menu > li > a {
  color: #fff;
}

.dark-mode .box-tab ul.tab-nav a.active, .dark-mode .tab-nav li:hover a {
  border-top-color: #fd0405;
  color: #ff9601;
}

.dark-mode .box-tab ul.tab-nav a {
  background-color: #423e3e;
  color: #fff;
}

.dark-mode .new-comments .dark-box ul li h3 a:hover, .dark-mode .dark-box ul li h3 a:hover, .dark-mode .dark-box ul li h3 a:focus, .dark-mode .nav-tabs > li.active > a, .dark-mode .nav-tabs > li.active > a:hover, .dark-mode .nav-tabs > li.active > a:focus {
  color: #fd0405;
}

.dark-mode .chapter a:focus, .dark-mode .chapter a:visited, .dark-mode a.visited, .dark-mode .darkBox ul li .chapter .viewed a {
  color: #9d9d9d;
}

.dark-box h2 {
  font-size: 16px;
  font-weight: 400;
  color: #2980b9;
}

.dark-mode .dark-box h2 {
  color: #ff9601;
}