@import "assets/scss/utils.scss";
@import "assets/scss/background.scss";
@import "assets/scss/globals.scss";
@import "assets/scss/theme.scss";
@import "assets/scss/button.scss";
@import "assets/css/magic.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    height: fit-content;
    transition-duration: .35s;

    --tw-bg-opacity: 1;
    font-family: Nunito, sans-serif;
}


/*body {*/
/*    font-family: "Nunito Sans", sans-serif;*/
/*    font-size: 14px;*/
/*    line-height: 1.5;*/
/*    background: rgb(229, 229, 229);*/
/*    color: rgb(51, 51, 51);*/
/*}*/